body{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.m-top{
  margin-top: 100px;
}

.ctn-progress{
  margin: 50px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.fileContainer {
    overflow: hidden;
    position: relative;
    height: 10px;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    background: #2ecc71;
    color: #FFF;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}

.fileContainer [type=file] {
    cursor: pointer;
}

.btn{
  color: #FFF;
  background-color: #e74c3c;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.center {
  width: 350px;
  margin: auto;
}

.img-responsive{
  max-width: 100%;
  height: 150px;
}

.container {
  width: 800px;
  margin: auto;
  margin-top: 50px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  width: 250px;
  float: left;
  height: 270px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.text-card{
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.text-ctn{
  padding: 10px;
}

.img-rounded{
  border-radius: 50%;
}